<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.six.sup">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".SupportMoreApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">



        <activity
            android:name=".rv.one_adapter.RvOneAdaterDemo"
            android:label="@string/title_activity_disorder_touch_demo"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name=".MainActivity"></activity>
        <activity android:name=".rv.custom_layout_mgr.fixed_column.demo.FixColumnGridDemo"></activity>
        <activity
            android:name=".rv.stickyColumnTable.cooridinate_rv_rv_2.demo.MultiRvDemo2"
            android:label="2个rv互动">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design_lib.ToolbarDemo"
            android:label="ToolBar Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design_lib.FloatingActionButtonDemo"
            android:label="FloatingActionButton Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design_lib.NavigationViewDemo"
            android:label="NavigationView Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design_lib.ScrollingActivity"
            android:label="Scolling Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design_lib.FlexibleTopDemo"
            android:label="Existing clay Behavior : 01 AppBarLayout.Behavior (show/hide)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design_lib.FlexibleTopDemo2"
            android:label="Existing clay Behavior : 02 AppBarLayout.Behavior (Collapse)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".design_lib.ClaySwipeDismissBehaviorDemo"
            android:label="Existing clay Behavior : 03 SwipeDismissBehavior">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".other.spring.SpringActivity01"
            android:label="Support Spring Demo 01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".other.spring.SpringActivity02"
            android:label="Support Spring Demo 02">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".other.spring.SpringActivity03"
            android:label="Support Spring Demo 03">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".other.BottomSheetDemo"
            android:label="Bottom Sheet Dialog - Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clay.coordinate3.ClayBottomSheetBehaviorDemo"
            android:label="Existing clay Behavior : 04 BottomSheetBehavior">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clay.coordinate.ClayTwoAntiMoveDemo"
            android:label="Coornidate + Behavior : 01 two anti-move views">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clay.behavior2.ClayFabHideShowDemo"
            android:label="Coornidate + Behavior : 02 MyFab Behavior">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clay.coordinate2.ClayBottomMoveDemo"
            android:label="Coornidate + Behavior : 03 Translate opposite AppBarLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clay.behavior.ClayTopImageBehaviorDemo"
            android:label="Coornidate + Behavior : 04 Top Image (Failed)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clay.fixedtop.FixedTopDemo"
            android:label="Coornidate + Behavior : 05 Fixed Top">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clay.top3.ClayTop3Demo"
            android:label="Coornidate + Behavior : 06 Collapsed Top 3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.sort.SortedListActivity"
            android:label="Rv with sorted data">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.group.OldRvGroupDemo"
            android:label="Rv with Grouped (Old)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.dragdrop.simple.DragRecyclerViewDemo"
            android:label="Rv with Drag+Drop ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.header.HeaderRvDemo"
            android:label="Rv with Header">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <!--<activity-->
            <!--android:name=".rv.one_adapter.RvOneAdaterDemo"-->
            <!--android:label="Rv with One Adapter">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="ca.six.sup.demo" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity
            android:name=".rv.group_adapter.GroupRvDemo"
            android:label="Rv with GroupAdapter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.load_more.LoadMoreRvDemo"
            android:label="Rv with LoadMore">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.swipe_refresh1.SwipeRefreshRvActivity01"
            android:label="Rv with Swipe Refresh 001 : swipe refresh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.swipe_refresh3.SwipeRefreshRvActivity03"
            android:label="Rv with Swipe Refresh 003 : perfect">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.swipe_menu.SwipeMenuDemo"
            android:label="Swipe Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.swipe_menu.rv.SwipeMenuRvDemo"
            android:label="Rv with Swipe Menu (in item)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.card_stack.SwipeCardRvDemo"
            android:label="Rv with Swipe Card">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.custom_layout_mgr.linear.FirstLayoutRvDemo"
            android:label="Rv with Custom LayoutManger 01: vertical linear">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.custom_layout_mgr.slash.SlashLayoutRvDemo"
            android:label="Rv with Custom LayoutManger 02: Slash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.expandable.e01.ExpandableRvActivity01"
            android:label="Rv + ExpandableRecyclerView 001">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".nested_scroll.nested_scroll.sample.NestScollSample"
            android:label="NestedScrolling : 01 sample from Internet">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.option_chain.demo4.ExRvDemo04"
            android:label="NestedScrolling : 02 ? ＋ rv">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.divider.GridDividerDemo"
            android:label="Rv + Divider : 01 - Grid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.divider.other.DividerOtherActivity"
            android:label="Rv + Divider : 02 - item decoration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.divider.three.GridDividerDemo3"
            android:label="Rv + Divider : 03 - Three Color decoration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.divider.floating.FloatingTitleDemo"
            android:label="Rv + Divider : 04 - Floating Title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.viewholder.ViewHolder_PositionActivity"
            android:label="Rv + ViewHold&apos;s 3 different position">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.composition.demo.ComposedRvDemo"
            android:label="Rv + Composed Row">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".rv.sample.GooglePlayLikeDemo"
            android:label="Rv - Sample : Google Play Like Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".other.chrome.ChromeJumperDemo"
            android:label="z Others - Chrome Custom Tab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".other.notification.Notification_A"
            android:label="z Notification with Action">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="ca.six.sup.demo" />
            </intent-filter>
        </activity>
        <activity android:name=".other.notification.Notification_B" />
        <activity android:name=".other.notification.Notification_C" />
        <activity android:name=".other.notification.Notification_D" />
        <activity android:name=".other.notification.Notification_E" />

        <receiver android:name=".other.chrome.ActionBroadcastReceiver" />

    </application>

</manifest>