<?xml version="1.0" encoding="utf-8"?>
<manifest package="six.ca.and8"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">

		<activity android:name=".notch.NotchInfoActivity"
			android:configChanges="keyboardHidden|keyboard|orientation|screenSize"
			android:theme="@style/fullScreen"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".autofill.AutoFillDemo"
			android:label="[AutoFill] Demo">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="ca.six.and8" />
			</intent-filter>
		</activity>

		<!--<receiver android:name=".services.BootCompleteReceiver">-->
			<!--<intent-filter>-->
				<!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
			<!--</intent-filter>-->
		<!--</receiver>-->

		<!--<service android:name=".services.EightService" />-->

	</application>

</manifest>